<div>
  <h1>About</h1>
  <p>Joaquín Sorolla was a Spanish Valencian painter. Sorolla excelled in the painting of portraits, landscapes and monumental works of social and historical themes. His most typical works are characterized by a dexterous representation of the people and landscape under the bright sunlight of Spain and sunlit water.</p>
</div>