<div>
  <h1>Highlighted Works</h1>
  <p>Painted during the summer of 1909 at the beach in Valencia, after Sorolla’s triumphant success in the United States, Strolling along the Seashore is undoubtedly one of the artist’s most important works.The water and the sandy seashore, depicted here in long blue, purple and turquoise brushstrokes, become an abstract backdrop for the refined figures of the artist’s wife and daughter Maria.</p>
  <img src="img/seashore.jpg"/>
</div>